<!DOCTYPE html>

<title>Hello MainController!</title>

{% block body %}
    <p><a href="{{ domain }}classificator">Классифицировать</a></p>
    <p><a href="{{ domain }}sign">Посмотреть таблицу признаков</a></p>
    <p><a href="{{ domain }}sign/add">Добавить признак</a></p>
    <p><a href="{{ domain }}sign/delete">Удалить признак</a></p>
    <p><a href="{{ domain }}sign/update">Изменить признак</a></p>
    <p><a href="{{ domain }}genre">Посмотреть таблицу жанров</a></p>
    <p><a href="{{ domain }}genre/add">Добавить жанр</a></p>
    <p><a href="{{ domain }}genre/delete">Удалить жанр</a></p>
    <p><a href="{{ domain }}genre/update">Изменить жанр</a></p>
{% endblock %}
